# Variables

In [1]:
a = 10
print(a)

10

In [2]:
b = 10.5
print(b)

10.5

In [3]:
c = "Hello Everyone"
print(c)

Hello Everyone

In [4]:
a = 10
print(type(a))

<class 'int'>

In [5]:
b = 10.5
print(type(b))

<class 'float'>

In [6]:
c = "Hello Everyone"
print(type(c)) # string----text

<class 'str'>

# Print function

In [ ]:
\n -- new line character

In [7]:
print("Hello")
print("Indore")

Hello
Indore

In [8]:
print("Hello Indore")

Hello Indore

In [9]:
print("Hello\nIndore")

Hello
Indore

In [ ]:
\t -- horizontal tab -- 8

In [10]:
print("Hello\tIndore")

Hello	Indore

# User Input

In [11]:
a = input()
print(a)

Himanshu
Himanshu

In [12]:
a = input("Enter Your Name : ")
print(a)

Enter Your Name : Himanshu
Himanshu

# Type casting

In [14]:
a = 10.5
print(type(a)) #float
b = int(a)
print(b)
print(type(b))

<class 'float'>
10
<class 'int'>

In [15]:
a = "10"
print(type(a))
b = int(a)
print(b)
print(type(b))

<class 'str'>
10
<class 'int'>

**WAP to enter 2 numbers from user and print addition of them**

In [16]:
a = input("Enter 1st Number : ")
b = input("Enter 2nd Number : ")

c = a + b
print(c)

Enter 1st Number : 10
Enter 2nd Number : 20
1020

In [17]:
print(type(a))

<class 'str'>

In [18]:
a = int(input("Enter 1st Number : "))
b = int(input("Enter 2nd Number : "))

c = a + b
print(c)

Enter 1st Number : 10
Enter 2nd Number : 20
30

# Relational Operators

In [ ]:
>, <, >=, <=, ==

In [19]:
print(10 > 5)

True

In [20]:
print(10==10)

True

In [21]:
print(10==11)

False

# Conditional Statements

if and else

In [22]:
a = 10

if 10 > 5:
    print("Hello")
    print("Hi")

Hello
Hi

In [23]:
if 10 < 5:
    print("Hello")
    print("HI")

In [25]:
if 10 < 5:
    print("Indore")
    print("Hello")
else:
    print("Hello")
    print("Goa")

Hello
Goa

In [26]:
if 10 < 15:
    print("Indore")
    print("Hello")
else:
    print("Hello")
    print("Goa")

Indore
Hello

**WAP to enter a number from user and print its character format**

1 -- One
2 -- Two
3 -- Three
other - Invalid Number

In [30]:
n = int(input("Enter a number :"))

if n == 1:
    print("One")
elif n == 2:
    print("Two")
elif n == 3:
    print("Three")
else:
    print("Invalid Number")

Enter a number :0
Invalid Number

# List

In [31]:
n = [5,7,8,10, 'Indore', 'Goa']
#    0 1 2  3    4        5
print(n)

[5, 7, 8, 10, 'Indore', 'Goa']

In [32]:
print(n[0])

5

In [33]:
print(n[4])

Indore

## List functions

In [34]:
n = [30,7,8,10,11]

print(len(n))

5

In [35]:
print(max(n))

30

In [36]:
print(min(n))

7

In [37]:
print(sum(n))

66

# String

In [39]:
a = "Indore"
#    012345
print(a)
print(type(a))

Indore
<class 'str'>

In [40]:
print(a[0])

I

In [41]:
print(a[4])

r

# String Function

In [42]:
s = "Indore"

print(len(s))

6

In [43]:
print(max(s))

r

In [ ]:
#ASCII code

10 -- 1010
A  -- 65
B  -- 66
Z  -- 90

a  -- 97
z  -- 122

In [44]:
print(min(s))

I

# Dictionary

key value

In [45]:
d = {'A': 100, 'B':200, 'C':300}
print(d)

{'A': 100, 'B': 200, 'C': 300}

In [46]:
print(d['C'])

300

In [47]:
print(d['A'])

100

In [48]:
print(d[200])

KeyError: 200

In [49]:
print(len(d))

3

In [50]:
print(max(d))

C

In [51]:
print(min(d))

A

# Modules

In [52]:
import math

print(math.pi)

3.141592653589793

In [ ]:
package
        - math.py
        - hello.py

In [ ]:
from package import hello

In [ ]:
calculator
        - math.py
        - add.py
        - multiply.py

In [ ]:
from calculator import multiply

In [53]:
from math import pi

print(pi)

3.141592653589793

In [ ]:
flask - web development